/* =====================
TABLE OF CONTENT:
0. HTML, BODY, WRAPPER, LAYOUT
1. HEADER
2. CARD COMPONENTS

3. FOOTER

============*/


/* =====
0. HTML, BODY, WRAPPER
=======*/
html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*layout*/

header {
  width: 100%;
  padding-left: 3.2%;
  padding-right: 3.2%;
  margin-top: 70px;
  margin-bottom: 45px;
}

main {
  margin-left: 5.1%;
  margin-right: 5.1%;
}

@media screen and (min-width: 770px) {
  header {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  main {
    margin-left: 10.1%;
    margin-right: 10.1%;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding-left: 16.6%;
    padding-right: 16.6%;
    margin-top: 100px;
    margin-bottom: 80px;
  }
  main {
    margin-left: 17.1%;
    margin-right: 17.1%;
  }
}


/* =====
1. HEADER
=======*/

.title {
  margin-bottom: 38px;
  font-size: 36px;
  font-family: 'PT Serif', serif;
}

.sub-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.normal-text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 770px) {
  header {
    display: inline-flex;
    justify-content: space-between;
  } 
  .description {
    width: 40%;
  }
  .normal-text {
    font-size: 18px;
  }
}


@media screen and (min-width: 1200px) {
  .description {
    width: 35%;
  }
}

/* =====
2. CARD COMPONENTS
=======*/



/* =====
3. FOOTER
=======*/
footer {
  margin-top: auto;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.875em;
  font-style: 'Montserrat';
  font-weight: 700;
  color: #BDBDBD;
}
